<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lpy.farmmall.manage.mapper.PmsProductInfoMapper">
    <select id="selectInfoByName" resultType="lpy.farmmall.bean.PmsProductInfo"
            parameterType="lpy.farmmall.bean.PmsProductInfo">
        select * from  pms_product_info
        where  product_name like '%${productName}%'
    </select>
</mapper>